html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
  box-sizing: border-box;
  overflow-x: hidden;
}

.homePage {
  display: none;
}

#homeSection {
  margin: auto;
  background-color: white;
  width: 33%;
  height: 100vh;

}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  padding: 3% 0;
  /* identical to box height */

  text-align: center;

  color: #555555;
}

.describe {
  padding-left: 12%;
  padding-right: 12.5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 158% */

  text-align: center;

  color: #555555;
}

#form{
  width: 75%;
  margin: auto;
  padding-top: 5%;
}

.fieldsFrom {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #555555;
}
.errorname, .errormail{
  font-size: 13px;
  /* white-space: nowrap; */
  color: red;
  display: none;
  
}

.input-data {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  outline: none;
  /* width: 150%; */
  height: 30px;
  margin-bottom: 15px;
}

.commencer {
  background: #028A3D;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.5em;
  line-height: 24px;
  padding: 2.5%;
  width: 100%;
  margin-top: 10%;
  text-align: center;
  box-shadow: 1px 1px 1px black;

  color: #FFFFFF;
}

.section-question {
  display: flex;
  flex-direction: column;
  display: none;
  background-color: white;
  width: 33%;
  margin: auto;
  height: 100vh;
}

.question {
  padding: 5% 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  /* or 158% */

  text-align: center;

  color: #555555;
}


#third-section {
  display: none;
}

.questions {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  text-align: center;

  color: #555555;

}


.outerbar {

  width: 350px;
  height: 1%;
  background-color: transparent;
  background: #DDDDDD;
  border-radius: 10px;
  margin: auto;

}

.innerbar {
  width: 100%;
  height: 100%;
  position: relative;
  background: #028A3D;
  border-radius: 10px;
}

.text {
  color: #028A3D;
  font-weight: bolder;
  width: 89%;
  font-size: 15px;
  text-align: end;
}

.answers{
  margin-top: 10%;
  text-align: center;
}


.radio-group{
  padding-left: 11%;
  margin-bottom: 15%;
  text-align: start;
}

li {
  list-style: none;
  border: solid whitesmoke 1px;
  height: 40px;
  width: 350px;
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #555555;

}

.btn-quitter {
  height: 30px;
  width: 150px;
  color: white;
  background: #EC880C;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  box-shadow: 1px 1px 1px black;
}

.suivant {
  height: 30px;
  width: 150px;
  color: white;
  background: rgba(2, 138, 61, 0.42);
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  box-shadow: 1px 1px 1px black;
}

#success-section,#fail-section{
  text-align: center;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
  top: 35%;
  right: 43%;
}

h2{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #555555;
}

.printEmail{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #555555;
}

#printScore{
  font-size: 25px;
  font-weight: bolder;
  padding-top: 10px;
  color: green;
}
#printScoreFail{
  font-size: 25px;
  font-weight: bolder;
  padding-top: 10px;
  color: red;
}

.btn-accueil{
  height: 40px;
  width: 150px;
  margin: auto;
  color: white;
  background: #0880D6;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  box-shadow: 1px 1px 1px black;
}


/*  media queries */

/* For tablette */

@media all and (min-width: 1025px) and (max-width: 1240px) {
  #homeSection {
    width: 50%;
  }
    
  h1 {
    font-size: 2em;
  }

  .describe {
    font-size: 1.6em;
  }

  .fieldsFrom {
    font-size: 1.5em;
  }
  .errorname, .errormail{
    font-size: 1.3em;
  }

  .input-data {
    width: 90%;
    height: 40px;
  }

  .commencer {
    font-size: 1.7em;
    padding: 2.6%;
    margin-top: 25%;
  }

  .section-question {
    width: 50%;
  }

  .question {
    font-size: 1.5em;
  }

  .questions {
    font-size: 1.4em;
  }

  .outerbar {
    width: 80%;  
  }

  .text {
    width: 90%;
    font-size: 18px;
  }

  .answers{
    margin-top: 15%;
  }

  .radio-group{
    margin-bottom: 15%;
  }

  li {
    height: 50px;
    width: 85%;
    font-size: 1.5em;
    line-height: 26px;
  }

  .btn-quitter {
    height: 35px;
    width: 155px;
    font-size: 27px;
  }

  .suivant {
    height: 35px;
    width: 155px;
    font-size: 27px;
  }

  h2{
    font-size: 1.65em;
  }


  .btn-accueil{
    height: 55px;
    width: 155px;
    font-size: 27px;
  }
}

/* For tablette */

@media all and (min-width: 769px) and (max-width: 1024px) {
  #homeSection {
    width: 60%;
  }
    
  h1 {
    font-size: 2em;
  }

  .describe {
    font-size: 1.6em;
  }

  .fieldsFrom {
    font-size: 1.5em;
  }
  .errorname, .errormail{
    font-size: 1.3em;
  }

  .input-data {
    width: 90%;
    height: 40px;
  }

  .commencer {
    font-size: 1.7em;
    padding: 2.6%;
    margin-top: 25%;
  }

  .section-question {
    width: 60%;
  }

  .question {
    font-size: 1.5em;
  }

  .questions {
    font-size: 1.4em;
  }

  .text {
    width: 82%;
    font-size: 18px;
  }

  .answers{
    margin-top: 15%;
  }

  .radio-group{
    margin-bottom: 25%;
  }

  li {
    height: 50px;
    width: 85%;
    font-size: 1.5em;
    line-height: 26px;
  }

  .btn-quitter {
    height: 35px;
    width: 155px;
    font-size: 26px;
  }

  .suivant {
    height: 35px;
    width: 155px;
    font-size: 26px;
  }

  h2{
    font-size: 1.65em;
  }


  .btn-accueil{
    height: 55px;
    width: 155px;
    font-size: 25px;
  }
}


/* For mobile phones: */

@media all and (max-width: 768px) {

  #homeSection {
    width: 70%;
  }
    
  h1 {
    font-size: 2em;
  }

  .describe {
    font-size: 1.6em;
  }

  .fieldsFrom {
    font-size: 1.5em;
  }
  .errorname, .errormail{
    font-size: 1.3em;
  }

  .input-data {
    width: 90%;
    height: 40px;
  }

  .commencer {
    font-size: 1.7em;
    padding: 2.6%;
    margin-top: 25%;
  }

  .section-question {
    width: 70%;
  }

  .question {
    font-size: 1.5em;
  }

  .questions {
    font-size: 1.4em;
  }

  .text {
    width: 84%;
    font-size: 18px;
  }

  .answers{
    margin-top: 15%;
  }

  .radio-group{
    margin-bottom: 25%;
  }

  li {
    height: 50px;
    width: 75%;
    font-size: 1.5em;
    line-height: 26px;
  }

  .btn-quitter {
    height: 35px;
    width: 155px;
    font-size: 25px;
  }

  .suivant {
    height: 35px;
    width: 155px;
    font-size: 25px;
  }

  h2{
    font-size: 1.65em;
  }


  .btn-accueil{
    height: 55px;
    width: 155px;
    font-size: 25px;
  }
}

/* for mobile */

@media all and (max-width: 500px) {

  #homeSection {
    width: 90%;
  }
    
  h1 {
    font-size: 1.5em;
  }

  .describe {
    font-size: 1.35em;
  }

  .fieldsFrom {
    font-size: 1.25em;
  }
  .errorname, .errormail{
    font-size: 1.2em;
  }

  .input-data {
    width: 90%;
    height: 33px;
  }

  .commencer {
    font-size: 1.4em;
    padding: 2%;
    margin-top: 35%;
  }

  .section-question {
    width: 90%;
  }

  .question {
    font-size: 1.3em;
  }

  .questions {
    font-size: 1.2em;
  }

  .outerbar {
    width: 80%;  
  }

  .text {
    width: 87%;
    font-size: 18px;
  }

  .answers{
    margin-top: 15%;
  }

  .radio-group{
    margin-bottom: 25%;
  }

  li {
    height: 50px;
    width: 75%;
    font-size: 1.25em;
    line-height: 26px;
  }

  .btn-quitter, .suivant {
    height: 35px;
    width: 145px;
    font-size: 20px;
  }

  h2{
    font-size: 1.65em;
  }


  .btn-accueil{
    height: 55px;
    width: 155px;
    font-size: 25px;
  }
}